.layout-content {
  width: 70%;
  margin: auto;
  max-width: 1000px;
}

@media only screen and (max-width: 1000px) {
  .layout-content {
    width: 85%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .layout-content {
    width: 100%;

  }
}
